@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  border: 0px;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif; }

.row {
  padding: 0 !important;
  margin: 0 !important; }

.row > div {
  padding: 0 !important;
  margin: 0 !important; }

body {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  focus-ring-color: transparent;
  -webkit-focus-ring-color: transparent;
  -moz-tap-highlight-color: transparent;
  -moz-focus-ring-color: transparent;
  background-color: #FFF; }

input,
textarea {
  outline: none; }

textarea {
  border: 1px solid #ddd;
  width: 100%;
  padding: 6px;
  border-radius: 4px; }

img {
  display: block;
  width: 100%;
  height: auto; }

input [type=button] {
  outline: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

ul,
li {
  list-style: none; }

p {
  margin-bottom: 0; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #faffbd;
  /* #FAFFBD;*/
  background-image: none;
  color: black; }

.login {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ccc; }
  .login a {
    position: absolute;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: greenyellow; }

.top {
  height: 200px;
  background-color: red;
  text-align: center;
  line-height: 200px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  background-color: #5FC3E4;
  background-image: linear-gradient(120deg, #E55D87, #5FC3E4);
  background-image: -webkit-linear-gradient(120deg, #E55D87, #5FC3E4);
  /* Safari 5.1 - 6.0 */
  background-image: -o-linear-gradient(120deg, #E55D87, #5FC3E4);
  /* Opera 11.1 - 12.0 */
  background-image: -moz-linear-gradient(120deg, #E55D87, #5FC3E4);
  /* Firefox 3.6 - 15 */
  background-image: linear-gradient(120deg, #E55D87, #5FC3E4);
  /* 标准的语法（必须放在最后） */ }

.nav a {
  display: block;
  margin: 10px auto;
  text-align: center; }

.nav a.active {
  color: red; }

.content-view {
  padding: 20px; }

.list-item {
  padding: 10px; }

.list-item > div:nth-of-type(1) {
  width: 100%;
  height: 150px; }

.list-item img {
  width: 100%;
  height: 100%; }

.list-item > div:nth-of-type(2) {
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 20px;
  overflow: hidden; }
